alacritty/alacritty.toml
alacritty/btop.toml
alacritty/popup.toml


hypr/config/keybinds/keyboard/active.conf
hypr/config/keybinds/mouse/active.conf
hypr/config/keybinds/monitor/active.conf
hypr/config/monitors/active

Thunar

zsh/.zcompdump
zsh/.zsh_history