[Desktop Entry]
Name=DR LIVESEY ROM AND DEATH EDITION
Comment=Play this game on Steam
Exec=steam steam://rungameid/2181930
Icon=steam_icon_2181930
Terminal=false
Type=Application
Categories=Game;
