[Desktop Entry]
Name=Golf Around!
Comment=Play this game on Steam
Exec=steam steam://rungameid/1086410
Icon=steam_icon_1086410
Terminal=false
Type=Application
Categories=Game;
