[Desktop Entry]
Name=Golf It!
Comment=Play this game on Steam
Exec=steam steam://rungameid/571740
Icon=steam_icon_571740
Terminal=false
Type=Application
Categories=Game;
