[Desktop Entry]
Name=Mini Thief
Comment=Play this game on Steam
Exec=steam steam://rungameid/481870
Icon=steam
Terminal=false
Type=Application
Categories=Game;
