[Desktop Entry]
Name=Plants vs. Zombies: Game of the Year
Comment=Play this game on Steam
Exec=steam steam://rungameid/3590
Icon=steam_icon_3590
Terminal=false
Type=Application
Categories=Game;
