[Desktop Entry]
Name=Streets of Rogue
Comment=Play this game on Steam
Exec=steam steam://rungameid/512900
Icon=steam_icon_512900
Terminal=false
Type=Application
Categories=Game;
