[Desktop Entry]
Name=Sun Haven
Comment=Play this game on Steam
Exec=steam steam://rungameid/1432860
Icon=steam
Terminal=false
Type=Application
Categories=Game;
