[Desktop Entry]
Name=WAGAMAMA HIGH SPEC OC
Comment=Play this game on Steam
Exec=steam steam://rungameid/3943440
Icon=steam_icon_3943440
Terminal=false
Type=Application
Categories=Game;
